build
!build/
!build/bjvm_main.d.ts
!build/bjvm_main.js
cmake-build-*
test/jre8
website
test/jdk23-exploded
test/tmp

node_modules
js/pages/src/bjvm.ts
js/pages/dist/assets/*.java
js/pages/public/assets/*.class
js/pages/public/assets/*.jar
.DS_Store
